<main class="bx--content">
	<router-outlet></router-outlet>
	<table class="table">
		<tr><th><input type="checkbox" id="" name="" value=""></th>     <th>Address</th>                         <th>City</th>      <th>State</th>  <th>Circuit ID</th>  <th>Bandwidth</th>      <th>Actions</th>    </tr>
		<tr><td><input type="checkbox" id="" name="" value=""></td>     <td>16589 Konopelski Squarer</td>     <td>Alameda</td>      <td>CA</td>  <td>73.L1XX.T05338..TWCC</td>  <td>25mps</td>     <td class="actions">...</td>  </tr>
		<tr><td><input type="checkbox" id="" name="" value=""></td>      <td>91787 Boyle St</td>                <td>Moreauville</td>  <td>LA</td>  <td>73.L1XX.T05338..TWCC</td>  <td >25mps</td>     <td class="actions">...</td>  </tr>                           
		<tr><td><input type="checkbox" id="" name="" value=""></td>       <td>398 Gladiola S</td>                <td>Golden</td>       <td>CO</td>  <td>73.L1XX.T05338..TWCC</td>  <td>25mps</td>     <td class="actions">...</td>  </tr>
	</table>
</main>
